#basic{
	position:				relative;
	width:					90%;
	margin:					auto;
	height:                 100%;
}

#header{
	height:					100px;
	background-color:		#efefef;
	/*margin-top: 			-40px;*/
	border: 				1px solid black;
	overflow-y:				hidden;
}

#container{
	/*overflow:				hidden;*/
	/*
	background-color:		#eee;
	display:                flex; */
	background-color:		#efefef;
	flex-direction:         row;
	align-items:            start;

}

#footer{
	position:				absolute;
	bottom:					0;
	height:					80px;
	width:					100%;
	background-color:		#efefef;
	border: 				1px solid black;
}

#content{
	/*width:					100%;*/
	min-width:              5%;
	background-color:		#efefef;
	/* order:                  2; */
	min-height:             500px;
	height:                 100%;
	float:					left;
	padding: 				10px;
}

#left_column{
	right:					612px;	/*ширина контента*/
	max-width:				200px;
	width:                  180px;
	min-width:              180px;
	background-color:		#efefef;
	/* order:                  1; */
	min-height:             500px;
	height:                 100%;
	float:					left;
	border:					1px solid black;
}

#right_column{
	max-width:				200px;
	width:                  180px;/*250px;*/
	min-width:              180px;
	/*margin-right:			-190px;*/
	background-color:		#efefef;
	/* order:                  3; */
	height:                 500px;
	float:					right;
	border:					1px solid black;
}

HTML > BODY #basic{/* IE7 и остальные*/
	height:					auto;
	min-height:				100%;
}

BODY{
	margin:					0;
	padding:				0;
	/*background-color:		#fff250;*/
}

HTML, BODY, #basic{
	height:					100%;
}

HTML{
	margin:					0;
	padding:				0;
	border:					0;
	overflow:				auto;/*чтобы в IE не было постоянно вертикальной полосы прокрутки*/
}
