.class_link_in_mine {
    width:					160px;
    height:					20px;
    background-color:		#c5bba7;
    border:                 5px outset grey;
    color:                  white;
    font-size:              15px;
}

.class_link_in_mine:hover {
    background-color:		#868076;
    color:                  #b9b7b7;
    width:                  170px;
}

.text {
    text-align:             center;
    display:                block;
    border:                 5px outset grey;
}

.text:hover {
    font-size:              20px;
    background-color:       grey;
}

.zagolovock {
    text-align:             center;
    font-size:              30pt;
    font-variant:           small-caps;
    margin-top:             20px;
    vertical-align:         middle;
}

.comment {
    max-width:              400px;
}
