.class_link_in_mine {
    width:					140px;
    height:					20px;
    background-color:		#c5bba7;
    border:                 5px outset grey;
    text-align:             center;
    color:                  white;
    font-size:              13pt;
}

.class_link_in_mine:hover {
    background-color:		white;
    color:                  black;
}

.text {
    text-align:             center;
}

.zagolovock {
    text-align:             center;
    font-size:              30pt;
    font-variant:           small-caps;
    margin-top:             20px;
    vertical-align:         middle;
}
