.class_link_in_mine {
    width:					160px;
    height:					20px;
    background-color:		#c5bba7;
    border:                 5px outset grey;
    color:                  white;
    font-size:              15px;
}

.class_link_in_mine:hover {
    background-color:		#868076;
    color:                  #b9b7b7;
    width:                  170px;
}

.text {
    text-align:             center;
    display:                block;
    border:                 5px outset grey;
}

.zagolovock {
    text-align:             center;
    font-size:              30pt;
    font-variant:           small-caps;
    margin-top:             20px;
    vertical-align:         middle;
}

BODY {
    background:             url(../../img/unnamed1.png);
}


td , th {
    border:                 1px solid black;
    width:                  10%;
    height:                 10%;
}

table {
    border:                 5px outset grey;
    height:                 50%;
}

.img_in_table {
    height:                75px;
    width:                 100px;
}
